* {
    margin: 0;
    padding: 0;
}
body {
    margin:0;
    background: #F5E8C7;
    padding-top: 50px; 
}
/*header section*/
header {
    background: url(/img/image.png);
    margin-top: -4%;
    margin-bottom: 0;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}
.header-item__container {
    z-index: 1;
}
.header__overlay {
    background-color: #000a;
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}
.text-container {
    width: 50%;
}
.main__text {
    color: #ddd;
    font-size: 20px;
}
/*About us Section*/
.nosotros {
    margin-top: 3%;
}
.about-us__text {
    font-size: 20px;
    color: #222;
    text-align: center;
}
.logo {
    border-radius: 45%;
    width: 100px;
    height: 100px;
    margin-left: 45%;
}
.inicio {
    margin-top: 7%;
}
/*nav section*/
.nav {
    background-color: #8B4513;
    position: sticky;
    top: 0;
    min-width: 100%;
    z-index: 1000;
}
.nav__list {
    margin:0;
    text-align: center;
}
.nav__item {
    padding: 10px;
    background-color: #8B4513;
    display: inline-block;
}
.nav__links {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background-color 0.24s , border-radius 0.4s;
}
.nav__links:hover {
    background-color: #F5E8C7;
    border-radius: 10px;
    color: #000;
}
/*main section*/
.main{ 
    width: 100%;
}
.text-container {
    margin-left: 25%;
}
/*titulos y subtitulos*/
h1 {
    font-size: 60px;
    padding-top: 0.5em;
    top: 10%;
    left: 5%;
    margin-top: 1%;
}
h3 {
    color: #000;
    font-family: Impact;
    font-size: 25px;
}
h1, .main__subtitle-1 , .main__subtitle-2 , .main__subtitle-3 {
    color:#3C2F2F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.main-subtitle-3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#3C2F2F;
    font-size: 2em;
}
.main__subtitle , .main__text {
    text-align: center;
}
.main__subtitle-1 ,.main__subtitle-2 {
    margin-top: 1%;
    font-size: 2em;
}
.main__subtitle-2 {
    text-shadow: 0 0 20px #fff;
}
.main__subtitle-2 {
    color: #fff;
}
/*menu section*/
.menu-container {
    width: 80%;
    height: auto;
    background-color: #000;
    margin-left: 10%;
    margin-top: 5%;
    outline: 10px solid #8B4513;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.expreso, .americano , .latte , .cappuccino , .mocha , .cafe-con-leche , .macchiato ,.croissant {
    width: 20em;
    background-color: #fff;
    margin-top:5%;
    border-radius: 5px;
    height: 15em;
}
.croissant {
    height: 17em;
}
.img-expreso , .img-cappuccino, .img-mocha , .img-cafe-con-leche ,.img-macchiato , .img-croissant , .img-latte , .img-americano {
    width: 50%;
    border-radius:  5px;
    margin-left: 30%;
}
.img-latte {
    height: 40%;
    width: 35%;
}
.main__subtitle-2 {
    position: absolute;
}
.menu-title {
    margin-left:35%;
}
@media (width<768px) {
    .logo {
        margin-left: 39%;
    }
    header {
        margin-top: -13.5%;
    }
    .main__subtitle-2 {
    position: relative;
    }
}
@media (width>768px) {
}
.explain-text {
    text-align: center;
}
.cost {
    color: #a44909;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
}

/*seccion de formulario/contacto*/
form {
    background-color: transparent;
    padding: 20px 0;
    max-width:500px;
    /*max-width sirve para hacer que el elemento solo se pueda estirar hasta cierto punto */
    margin:auto;
    box-shadow: 0 0 55px #fff2;
    margin-top:50px;
    border-radius:8px;
    font-size: 14px;
}
/*form of contact section*/
.form_input {
    padding:6px 20px;
}
input, textarea,select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border:none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #0001;
    border-radius:5px;
    background-color:transparent;
    color:#000;
}
select {
    color:#999f;
}
option {
    background-color: #222;
}
textarea {
    min-width: 100%;
    resize:none;
    font-family:sans-serif;
    min-height: 102px;
}
label {
    line-height: 2;
    font-size:0.88em;
}
#local {
    display: block;
}
fieldset {
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0 6px;
    margin:0 20px 20px 20px;
}
legend {
    padding: 0;
}
.chekbox {
    width: auto;
    height: 10px;
}
a{
    text-decoration:none;
}
.submit-btn {
    background-color: #48e;
    color:#0055ff;
    border-radius: 5px;
    width: 2em;
    margin-left: 40%;
    list-style: none;
    transition: background-color 0.25s;
}
.submit__link {
    color: #fff;
}
.submit-btn:hover {
    background-color: #30f;
}
